<!DOCTYPE html>
<html>
<title>Jazzstock</title>




<link rel="stylesheet" href="{{ url_for('static', filename='css/main_mobile_wide.css') }}">

<script type="text/javascript" charset="utf8" src="/static/js/datatables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>


<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta property="og:title" content="Jazzstock" />
<meta property="og:type" content="article" />
<meta property="og:description" content="수급분석, 수급차트, 창구분석, 거래원분석" />
<meta property="og:site_name" content="Jazzstock" />
<meta property="og:image" content="http://jazzstock.net/static/images/logo800.jpg" />
<meta name="naver-site-verification" content="b3c1a9a88d2cb99599c37bef02c0ac29aaf2cfd0"/>
<meta name="description" content="수급분석, 수급차트, 창구분석, 거래원분석" />
<title>Jazzstock</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132476295-1"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>



<script type="text/javascript" src="static/js/jazzstock_mobile_wide.js"></script>
<script type="text/javascript" src="static/js/echarts.min.js"></script>
<script type="text/javascript" src="static/js/sndChart_mobile.js"></script>
<script src="static/js/sorttable.js"></script>


<body>



    <div class="adsense">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- JAZZSTOCK_MOBILE_A -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:375px;height:50px"
             data-ad-client="ca-pub-7952244387820356"
             data-ad-slot="9375352098"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div>
          <h2><a href="/info">Jazzstock PC</a></h2>
          <div class="textSearch">
            <input id="search" type="text" placeholder="종목명 / 종목코드" onkeypress="clickPress(event,document.getElementById('search').value,'chartS')">
            <input type="button" onclick="getChartData(document.getElementById('search').value,'chartS')" value="SEARCH">
          </div>
          <p>
              <a href="#" onclick="foldSearchingOption()">개인설정</a>&nbsp;
              <a href="#" onclick="description()">사용법</a><br>
              <a href="#" onclick="removeall()">검색결과 지우기</a>


          <div id='searchingOption' style="display: none">
              <hr>
              <p>
                  조회기간:
                       <input type="checkbox" name='interval' value="1" ><span>1</span>
                       <input type="checkbox" name='interval' value="3"><span>3</span>
                       <input type="checkbox" name='interval' value="5"><span>5</span>
                       <input type="checkbox" name='interval' value="20"><span>20</span>
                       <input type="checkbox" name='interval' value="60"><span>60</span>
                       <input type="checkbox" name='interval' value="120"><span>120</span>
                       <input type="checkbox" name='interval' value="240"><span>240</span>

              </p>

              <p>
                  정렬기준:
                       <input type="radio" name='orderby' value="1" ><span>1</span>
                       <input type="radio" name='orderby' value="3" ><span>3</span>
                       <input type="radio" name='orderby' value="5" ><span>5</span>
                       <input type="radio" name='orderby' value="20"><span>20</span>
                       <input type="radio" name='orderby' value="60"><span>60</span>
                       <input type="radio" name='orderby' value="120"><span>120</span>
                       <input type="radio" name='orderby' value="240"><span>240</span>
              </p>



              <p><a href="#" onclick="setStorage(); location.reload();">설정 및 새로고침</a></p>
              <p><b>* 설정값은 다음 방문시에도 적용됩니다 :)</b></p>
              <hr>

              <p><b>조회기간이란?</b></p>
              <p>수익률, 수급지표들이 선택하신 거래일기준 누적값으로 추출됩니다</p>
              <p>Maximum 3개까지 지원합니다</p>

              <br>

              <p><b>정렬?</b></p>
              <p>출력된 데이터가 선택하신 기준일자로 내림차순 정렬됩니다</p>
              <p>현재는 기관, 외인, 사모펀드, 연기금 네개의 테이블을 제공하고있습니다</p>
              <p>따라서 5를 선택한 경우, 기관테이블은 I5내림차순으로 정렬됩니다</p>

              <br>


        </div>
        <div id='description' style="display: none">


              <p><a href="/static/images/refermobile.png"  target="_blank"><img src="/static/images/refermobile.png" width="350px"></a></p>
              <p><b>더 자세히?</b></p>
              <p><a href="https://open.kakao.com/o/ge5OuYhb" >https://open.kakao.com/o/ge5OuYhb</a></p>
              <p>입장코드 : jazz</p>


    </div>
    <div id="infoS" class="info" style="height: 1px"></div>
    <table id="relatedS" class="related" style="width:100%"></table>
    <div id="chartS" class="sndChart" style="height: 1px"></div>
    <br>
    <hr>



    <div>
        <div class="row">
          <div class="cont">
            <h4>기관</h4>
              <table id="dataA" class="display" style="width:100%">
                <tr><td class="loading"><div class="signal"></div></td></tr>
              </table>
              <div id="infoA" class="info"></div>
              <table id="relatedA" class="related" style="width:100%"></table>
              <div id="chartA" class="sndChart" style="height: 1px"></div>
          </div>
        </div>



    <hr>
        <div class="row">
          <div class="cont">
            <h4>외인</h4>
              <table id="dataB" class="display" style="width:100%">
                <tr><td class="loading"><div class="signal"></div></td></tr>
              </table>
            <div id="infoB" class="info" style="height: 1px"></div>
            <table id="relatedB" class="related" style="width:100%"></table>
            <div id="chartB" class="sndChart" style="height: 1px"></div>
          </div>
        </div>


    <div class="adsense">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- JAZZSTOCK_MOBILE_B -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:375px;height:50px"
             data-ad-client="ca-pub-7952244387820356"
             data-ad-slot="5136724180"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <hr>
        <div class="row">
          <div class="cont">
            <h4>연기금</h4>
              <table id="dataC" class="display" style="width:100%">
                <tr><td class="loading"><div class="signal"></div></td></tr>
              </table>
            <div id="infoC" class="info" style="height: 1px"></div>
            <table id="relatedC" class="related" style="width:100%"></table>
            <div id="chartC" class="sndChart" style="height: 1px"></div>
          </div>
        </div>

    <hr>

        <div class="row">
          <div class="cont">
            <h4>사모펀드</h4>
              <table id="dataD" class="display" style="width:100%">
                <tr><td class="loading"><div class="signal"></div></td></tr>
              </table>
            <div id="infoD" class="info" style="height: 1px"></div>
            <table id="relatedD" class="related" style="width:100%"></table>
            <div id="chartD" class="sndChart" style="height: 1px"></div>
          </div>
        </div>

    <hr>
    </div>
    <div class>
      <p>문의 : jazztronomers@gmail.com </p>
      <p>후원 : 우리은행 1002-455-318806</p>
    </div>


    </div>


    <div>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- JAZZSTOCK_MOBILE_FOOTER -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7952244387820356"
         data-ad-slot="2677656775"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    </div>
</body>
