<!DOCTYPE html>
<html>
<title>Jazzstock</title>




<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<script type="text/javascript" charset="utf8" src="/static/js/datatables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.22/sorting/natural.js"></script>

<!--JAZZSTOCK JS -->

<script type="text/javascript" src="static/js/open.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
<script type="text/javascript" src="static/js/sndTableFull.js"></script>
<script type="text/javascript" src="static/js/sndTablePartial.js"></script>
<script type="text/javascript" src="static/js/echarts.min.js"></script>
<script type="text/javascript" src="static/js/sndChart.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<!--META -->
<meta property="og:title" content="Jazzstock" />
<meta property="og:type" content="article" />
<meta property="og:description" content="수급분석, 수급차트, 창구분석, 거래원분석" />
<meta property="og:site_name" content="Jazzstock" />
<meta property="og:image" content="http://jazzstock.net/static/images/logo800.jpg" />
<meta name="naver-site-verification" content="b3c1a9a88d2cb99599c37bef02c0ac29aaf2cfd0"/>
<meta name="description" content="수급분석, 수급차트, 창구분석, 거래원분석" />
<title>Jazzstock</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132476295-1"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!--GOOGLE ANALYTICS -->
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-132476295-1');
</script>
<body>

    <style>
    .jazzstockhead { width: 320px; height: 100px; }
    @media(min-width: 360px) { .jazzstockhead { width: 340px; height: 60px; } }
    @media(min-width: 375px) { .jazzstockhead { width: 350px; height: 60px; } }
    @media(min-width: 500px) { .jazzstockhead { width: 468px; height: 60px; } }
    @media(min-width: 800px) { .jazzstockhead { width: 728px; height: 90px; } }
    @media(min-width: 1600px) { .jazzstockhead { width: 1720px; height: 90px; } }
    @media(min-width: 1920px) { .jazzstockhead { width: 1820px; height: 100px; } }
    </style>




    <div id="menu">
        <div class="navigation_top"  id="navigation_top">
            <a class="active" href="/"><b>Jazzstock</b></a>
            <div class="navigation_top_right" id="menu_loggedin">
                <div id="notloggedin">
                    <a href="#" onclick="description()">공지사항</a>
                    <a href="/register">회원가입</a>
                    <a href="#" onclick="openForm()">로그인</a>
                </div>
                <div id="loggedin" style="display: none">
                    <a href="#" onclick="description()">공지사항</a>
                    <a href="/profile">프로필수정</a>
                    <a href="#" onclick="logout()">로그아웃</a>
                    <a href="#" onclick="openExpandFunction()">필터열기</a>
                </div>
            </div>

        </div>

        <div id="navigation_table"  class="scrollmenu"  >

            <a href="#" class="tablink" onclick="openPage('tab_insfor', this, 'red'); getTable('table_insfor',  ['P','I','F'], [1,5,20,60], ['I1'], 'DESC', 100, false, true, false);" id="defaultOpen">기관</a>
            <a href="#" class="tablink" onclick="openPage('tab_forins', this, 'red'); getTable('table_forins',  ['P','F','I'], [1,5,20,60], ['F1'], 'DESC', 100, false, true, false);">외인</a>
            <a href="#" class="tablink only_supporter" onclick="openPage('tab_ygfor', this, 'red'); getTable('table_ygfor',  ['P','YG','F'], [1,5,20,60], ['YG1'], 'DESC', 100, false, true, true);">연기금</a>
            <a href="#" class="tablink only_supporter" onclick="openPage('tab_samofor', this, 'red'); getTable('table_samofor',  ['P','S','F'], [1,5,20,60], ['S1'], 'DESC', 100, false, true, true);">사모</a>
            <a href="#" class="tablink only_supporter" onclick="openPage('tab_custom', this, 'red'); getTable('table_custom',  ['P','OC','F'], [1,5,20,60], ['OC1'], 'DESC', 100, false, true, true);">커스텀</a>
            <a href="#" class="tablink only_supporter" onclick="openPage('tab_fav', this, 'red'); getTable('table_fav',  ['P','I','F','YG','S'], [1,5,20,60,120,240], ['I1','F1'], 'DESC', 100, true, true, true);">즐겨찾기</a>
            <a href="#" class="tablink only_supporter" onclick="openPage('tab_full', this, 'red'); getTable('table_full',  ['P','I','F','YG','S'], [1,5,20,60,120,240], ['I1','F1'], 'DESC', 2500, false, true, true);">전종목</a>
            <!--<a href="#" class="tablink" onclick="openPage('table_top100', this, 'red'); renderSecond();"></a>-->
            <a href="#" class="tablink" onclick="getRealtime()">실시간(준비중)</a>
            <div id="userinfo" class="navigation_top_right" style="display: none">
                <p>닉네임: {{ username }}  |  만료일자: {{ expiration_date }}</p>
            </div>
        </div>
<!--        <div class="adsense" id="adsense_top">-->
<!--            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!--            &lt;!&ndash; 2020HEAD &ndash;&gt;-->
<!--            <ins class="adsbygoogle jazzstockhead"-->
<!--                 style="display:inline-block"-->
<!--                 data-ad-client="ca-pub-7952244387820356"-->
<!--                 data-ad-slot="4979248724"></ins>-->
<!--            <script>-->
<!--                 (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--                 var session = {{ session | tojson | safe }}-->
<!--            </script>-->
<!--        </div>-->
        <div id="function_expanded" style="display: none">
            <div class="only_supporter">
                    <b><u>FILTER</u></b>
                    <div id='customFilter'>

                        <label for="filter_a">Filter Keyword A:</label>
                        <input type="text" id="filter_a" placeholder="종목 카테고리를 입력하세요">
                        <a href="#" onclick="setCustomFilter('filter_a');">필터적용</a><br>

                        <label for="filter_b">Filter Keyword B:</label>
                        <input type="text" id="filter_b" placeholder="ex) 반도체">
                        <a href="#" onclick="setCustomFilter('filter_b');">필터적용</a><br>

                        <label for="filter_c">Filter Keyword C:</label>
                        <input type="text" id="filter_c" placeholder="ex) 2차전지">
                        <a href="#" onclick="setCustomFilter('filter_c');">필터적용</a><br>

                        <label for="filter_d">Filter Keyword D:</label>
                        <input type="text" id="filter_d" placeholder="ex) 삼성">
                        <a href="#" onclick="setCustomFilter('filter_d');">필터적용</a><br>

                        <label for="filter_e">Filter Keyword E:</label>
                        <input type="text" id="filter_e" placeholder="ex) LUMUMDMU">
                        <a href="#" onclick="setCustomFilter('filter_e');">필터적용</a><br>
                    </div>
                    <div id='builtinFilter'>
                        <label for="mc_min">Filter MarketCap:</label>
                        <input type="text" id="mc_min" class="filter_gauge_min" placeholder="시가총액 최소값"><input type="text" id="mc_max"placeholder="시가총액 최대값"><br>

                    </div>
                    <hr>
            </div>



        </div>
        <div class="form-popup" id="myForm">
                <form id ="login" class="form-container">
                <h1>Login</h1>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>

                <label for="pw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="pw" id="pw" required>

                <input type="button"  class="btn" onclick='login();' value="Login">
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
        </div>
        <div id='description' style="display: none">
            <hr><br>
            <p><b>2021년2월14일</b><p>
            <p>2주년을 맞이하여 <b>회원가입 및 개인화기능 추가하였습니다!</b></p><br>

            <p><u>회원가입후 로그인을 하시면</u></p>
            <p>기존 특정컬럼으로 정렬된 상위 50종목만 보여주던것과 달리 <b>전종목데이터</b>를 표시후</p>
            <p>사용자가 직접 분석관점대로 수급데이터를 정렬을 해볼 수 있도록 개선하였습니다</p>
            <p>아무래도 전종목 데이터이다보니, 테이블을 받아오는데 길게는 10초까지 소요될 수 있으며</p>
            <p>트래픽비용이 이전보다 훨씬 많이 발생하게 되어, 향후에는 <b>후원자전용 기능</b>으로 변경될 예정입니다.</p>
            <p>일반회원의 경우, 기존에 제공하던 수준의 데이터는 그대로 받아보실 수 있도록 하겠습니다.</b></p><br>

            <p><u>트래픽이 얼마나 발생할지 예측이 어려워서<br>2월말~3월초정도까지를 서비스 안정화기간으로 잡고있습니다.</u></p>
            <p>해당기간동안에는 모든 가입회원에 대해서 후원자전용 기능, 즉 전종목데이터를 테스트로 제공할 예정입니다.</p>
            <p>자세한 공지사항은 카톡방을 통해 전해드리겠습니다.</p>
            <p><a href="https://open.kakao.com/o/ge5OuYhb" >https://open.kakao.com/o/ge5OuYhb</a></p>
            <p>입장코드 : jazz</p>
            <p><a href="https://blog.naver.com/rubenchu" >개발자블로그</a></p><br>
            <p><b>컬럼에 대한 설명.jpg</b></p>
            <p><a href="/static/images/refermobile.png"  target="_blank"><img src="/static/images/refermobile.png" width="350px"></a></p>
            <p>(신규컬럼이 포함된  버전은 차차 업데이트 하겠습니다  ㅎㅎ..)</p>
        </div>
    </div>
    <div id="tables">
        <div id="tab_insfor" class="tabcontent tabtable" style="display:block">
            <div class="row">
                <div class="card">
                    <table id="table_insfor" class="display" style="width:100%">
                        <tr><td class="loading"><div class="signal"></div></td></tr>
                    </table>
                </div>
            </div>
            <br>
        </div>
        <div id="tab_forins" class="tabcontent tabtable" style="display:none">
            <div class="row">
                <div class="card">
                    <table id="table_forins" class="display" style="width:100%">
                        <tr><td class="loading"><div class="signal"></div></td></tr>
                    </table>
                </div>
            </div>
            <br>
        </div>
        <div id="tab_ygfor" class="tabcontent tabtable" style="display:none">
            <div class="row">
                <div class="card">
                    <table id="table_ygfor" class="display" style="width:100%">
                        <tr><td class="loading"><div class="signal"></div></td></tr>
                    </table>
                </div>
            </div>
            <br>
        </div>
        <div id="tab_samofor" class="tabcontent tabtable" style="display:none">
            <div class="row">
                <div class="card">
                    <table id="table_samofor" class="display" style="width:100%">
                        <tr><td class="loading"><div class="signal"></div></td></tr>
                    </table>
                </div>
            </div>
            <br>
        </div>
        <div id="tab_custom" class="tabcontent tabtable" style="display:none">
            <div class="row">
                <div class="card">
                    <p>
                    <select id="select_custom_A">
                          <option value="0">기관</option>
                          <option value="1">외인</option>
                          <option value="2">연기금</option>
                          <option value="3">사모펀드</option>
                          <option value="4">투신</option>
                          <option value="5">금융</option>
                          <option value="6">기타법인</option>
                          <option value="7">개인</option>
                          <option value="8">보험</option>
                          <option value="9">은행</option>
                    </select>
                    <select id="select_custom_B">
                          <option value="0">기관</option>
                          <option value="1">외인</option>
                          <option value="2">연기금</option>
                          <option value="3">사모펀드</option>
                          <option value="4">투신</option>
                          <option value="5">금융</option>
                          <option value="6">기타법인</option>
                          <option value="7">개인</option>
                          <option value="8">보험</option>
                          <option value="9">은행</option>
                    </select>
                    </p>
                    <table id="table_custom" class="display" style="width:100%">
                        <tr><td class="loading"><div class="signal"></div></td></tr>
                    </table>
                </div>
            </div>
            <br>
        </div>
        <div id="tab_fav" class="tabcontent tabtable" style="display:none">
            <div class="row">
                <div class="card">
                    <table id="table_fav" class="display" style="width:100%">
                        <tr><td class="loading"><div class="signal"></div></td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="tab_full" class="tabcontent tabtable" style="display:none">
            <div class="row">
                <div class="card">
                    <table id="table_full" class="display" style="width:100%">
                        <tr><td class="loading"><div class="signal"></div></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="tabConts"></div>
    <div id="realtime"></div>
    <div id="download" style="display:None">
        <br>
        <hr>
        <p><u>다운로드 샘플입니다. <br>ROW수는 전종목이며, 일자는 선택가능하게 수정할 예정입니다.</u><br>
        <a href="/getTableCsv?day=0">최근 -0 거래일 전종목데이터</a><br>
        <a href="/getTableCsv?day=1">최근 -1 거래일 전종목데이터</a><br>
        <a href="/getTableCsv?day=2">최근 -2 거래일 전종목데이터</a><br>
        <a href="/getTableCsv?day=3">최근 -3 거래일 전종목데이터</a><br>
        <a href="/getTableCsv?day=4">최근 -4 거래일 전종목데이터</a><br>
        </p>
    </div>
    <div id="footer">
        <div id="footer_mine">
            <hr>
            문의 : jazzztronomers@gmail.com<br>
            후원 : 우리은행 1002-455-318806
        </div>
        <div id="footer_adsense">
            <div class="adsense">

                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 2020FOOT -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7952244387820356"
                     data-ad-slot="3694087211"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>


<!--                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!--                &lt;!&ndash; 2020TAIL &ndash;&gt;-->
<!--                <ins class="adsbygoogle"-->
<!--                     style="display:block"-->
<!--                     data-ad-client="ca-pub-7952244387820356"-->
<!--                     data-ad-slot="7413840373"-->
<!--                     data-ad-format="auto"-->
<!--                     data-full-width-responsive="true"></ins>-->
<!--                <script>-->
<!--                     (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--                </script>-->

            </div>
        </div>




    </div>
    <div class="scrollmenu" id="navigation_bottom">
            <div id="navigation_stock">

            </div>

            <div class="navigation_top_right">
                <a href="#" onclick="setFavorite()">즐겨찾기 업데이트</a>
                <a href="#" onclick="openDownload()">다운로드열기</a>
                <a href="#" onclick="openExpandFunction()">필터열기</a>
            </div>
    </div>

</body>



<!--        <div class="adsense_test">-->
<!--            <style>-->
<!--            .jazzstockmid { width: 320px; height: 100px; }-->
<!--            @media(min-width: 360px) { .jazzstockmid { width: 340px; height: 60px; } }-->
<!--            @media(min-width: 375px) { .jazzstockmid { width: 350px; height: 60px; } }-->
<!--            @media(min-width: 500px) { .jazzstockmid { width: 468px; height: 60px; } }-->
<!--            @media(min-width: 800px) { .jazzstockmid { width: 728px; height: 90px; } }-->
<!--            </style>-->
<!--            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!--            &lt;!&ndash; 2020MID &ndash;&gt;-->
<!--            <ins class="adsbygoogle jazzstockmid"-->
<!--                 style="display:inline-block"-->
<!--                 data-ad-client="ca-pub-7952244387820356"-->
<!--                 data-ad-slot="2353085386"></ins>-->
<!--            <script>-->
<!--                 (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--            </script>-->
<!--        </div>-->
