<!DOCTYPE html>
<html>
<title>Jazzstock</title>




<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<script type="text/javascript" charset="utf8" src="/static/js/datatables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.22/sorting/natural.js"></script>

<!--JAZZSTOCK JS -->

<script type="text/javascript" src="static/js/open.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
<script type="text/javascript" src="static/js/echarts.min.js"></script>
<script type="text/javascript" src="static/js/sndChart.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<!--META -->
<meta property="og:title" content="Jazzstock" />
<meta property="og:type" content="article" />
<meta property="og:description" content="수급분석, 수급차트, 창구분석, 거래원분석" />
<meta property="og:site_name" content="Jazzstock" />
<meta property="og:image" content="http://jazzstock.net/static/images/logo800.jpg" />
<meta name="naver-site-verification" content="b3c1a9a88d2cb99599c37bef02c0ac29aaf2cfd0"/>
<meta name="description" content="수급분석, 수급차트, 창구분석, 거래원분석" />
<title>Jazzstock</title>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132476295-1"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!--GOOGLE ANALYTICS -->
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-132476295-1');
</script>
<body>

    <style>
    .jazzstockhead { width: 320px; height: 100px; }
    @media(min-width: 360px) { .jazzstockhead { width: 340px; height: 60px; } }
    @media(min-width: 375px) { .jazzstockhead { width: 350px; height: 60px; } }
    @media(min-width: 500px) { .jazzstockhead { width: 468px; height: 60px; } }
    @media(min-width: 800px) { .jazzstockhead { width: 728px; height: 90px; } }
    </style>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 2020HEAD -->
    <ins class="adsbygoogle jazzstockhead"
         style="display:inline-block"
         data-ad-client="ca-pub-7952244387820356"
         data-ad-slot="4979248724"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
         var session = {{ session | tojson | safe }}
    </script>


    <div id="header">
        <h2>Jazzstock</h2>
    </div>
    <div id="menu">
        <div id="function_default">
            <div id="menu_loggedin">
                <div id="notloggedin">
                    <a href="/register">회원가입</a>
                    <a href="#" onclick="openForm()">로그인</a>
                    <a href="#" onclick="description()">공지사항</a>
                </div>
                <div id="loggedin" style="display: none">
                    <a href="#" onclick="profile()">프로필수정</a>
                    <a href="#" onclick="logout()">로그아웃</a>
                    <a href="#" onclick="description()">공지사항/a>
                    <a href="#" onclick="openExpandFunction()">회원기능열기</a>
                </div>
            </div>
            <div id="menu_user_class">
                <div id="only_admin" style="display: none">
                    <a href="#" onclick="foldSearchingOption()">개인설정</a>
                    <a href="#" onclick="clearStorage()">로컬스토리지 지우기</a>
                    <a href="#" onclick="getFavorite()">getFavorite</a>
                    <label for="filter_mc_max">Test A</label>
                        <input type="text" id="filter_mc_max">
                        <a href="#" onclick="setBuiltinFilter('filter_mc_max', 'mc_max');">SET MCMAX</a><br>


                    <label for="filter_i5_min">Test B</label>
                        <input type="text" id="filter_i5_min">
                        <a href="#" onclick="setBuiltinFilter('filter_i5_min', 'i5_min');">SET MCMAX</a><br>
                    <br>
                </div>
                <div id="only_member" style="display: none">
                </div>
            </div>
        </div>
        <div id="function_expanded" style="display: none">
            <div id="only_supporter" style="display: none">
                    <hr>
                    <b>회원전용기능, 화면배치 구상중..</b><br><br>
                    <a href="#" onclick="hideColumn()">테이블 확장</a> - 수익률, 수급 컬럼을 확장합니다. (60거래일, 120거래일)<br>
                    <a href="#" onclick="setFavorite()">즐겨찾기 업데이트</a> - FAV컬럼체크한 종목들을 즐겨찾기종목으로 저장합니다.<br><br>
                    <br>
                    <div id='customFilter'>

                        <label for="filter_a">Filter Keyword A:</label>
                        <input type="text" id="filter_a" placeholder="종목 카테고리를 입력하세요">
                        <a href="#" onclick="setCustomFilter('filter_a');">필터적용</a><br>

                        <label for="filter_b">Filter Keyword B:</label>
                        <input type="text" id="filter_b" placeholder="ex) 반도체">
                        <a href="#" onclick="setCustomFilter('filter_b');">필터적용</a><br>

                        <label for="filter_c">Filter Keyword C:</label>
                        <input type="text" id="filter_c" placeholder="ex) 2차전지">
                        <a href="#" onclick="setCustomFilter('filter_c');">필터적용</a><br>

                        <label for="filter_c">Filter Keyword D:</label>
                        <input type="text" id="filter_d" placeholder="ex) 삼성">
                        <a href="#" onclick="setCustomFilter('filter_e');">필터적용</a><br>

                        <label for="filter_c">Filter Keyword E:</label>
                        <input type="text" id="filter_e" placeholder="ex) LUMUMDMU">
                        <a href="#" onclick="setCustomFilter('filter_e');">필터적용</a><br>
                    </div>
                    <div id='builtinFilter' style="display: none">
                        <label for="filter_mc">Filter MarketCap:</label>
                        <input type="text" id="mc_min" class="filter_gauge_min" placeholder="시가총액 최소값"><input type="text" id="mc_max"placeholder="시가총액 최대값"><br>
                        <input type="text" id="i5_min" class="filter_gauge_min" style="display:none"><input type="text" id="i5_max" style="display:none">
                    </div>
            </div>



        </div>
        <div class="form-popup" id="myForm">
                <form id ="login" class="form-container">
                <h1>Login</h1>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>

                <label for="pw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="pw" id="pw" required>

                <input type="button"  class="btn" onclick='login();' value="Login">
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
        </div>
        <div id='description' style="display: none">
            <hr><br>
            <p><b>2021년2월14일</b><p>
            <p>2주년을 맞이하여 <b>회원가입 및 개인화기능 추가하였습니다!</b></p><br>

            <p><u>회원가입후 로그인을 하시면</u></p>
            <p>기존 특정컬럼으로 정렬된 상위 50종목만 보여주던것과 달리 <b>전종목데이터</b>를 표시후</p>
            <p>사용자가 직접 분석관점대로 수급데이터를 정렬을 해볼 수 있도록 개선하였습니다</p>
            <p>아무래도 전종목 데이터이다보니, 테이블을 받아오는데 길게는 10초까지 소요될 수 있으며</p>
            <p>트래픽비용이 이전보다 훨씬 많이 발생하게 되어, 향후에는 <b>후원자전용 기능</b>으로 변경될 예정입니다.</p>
            <p>일반회원의 경우, 기존에 제공하던 수준의 데이터는 그대로 받아보실 수 있도록 하겠습니다.</b></p><br>

            <p><u>트래픽이 얼마나 발생할지 예측이 어려워서<br>2월말~3월초정도까지를 서비스 안정화기간으로 잡고있습니다.</u></p>
            <p>해당기간동안에는 모든 가입회원에 대해서 후원자전용 기능, 즉 전종목데이터를 테스트로 제공할 예정입니다.</p>
            <p>자세한 공지사항은 카톡방을 통해 전해드리겠습니다.</p>
            <p><a href="https://open.kakao.com/o/ge5OuYhb" >https://open.kakao.com/o/ge5OuYhb</a></p>
            <p>입장코드 : jazz</p>
            <p><a href="https://blog.naver.com/rubenchu" >개발자블로그</a></p><br>
            <p><b>컬럼에 대한 설명.jpg</b></p>
            <p><a href="/static/images/refermobile.png"  target="_blank"><img src="/static/images/refermobile.png" width="350px"></a></p>
            <p>(신규컬럼이 포함된  버전은 차차 업데이트 하겠습니다  ㅎㅎ..)</p>
        </div>
    </div>
    <div id="tab_bar">
        <div>
            <button class="tablink" onclick="openPage('main', this, 'red')" id="defaultOpen">Main</button>
            <button class="tablink" onclick="getRealtime()">Realtime</button>
        </div>
        <div id="tabMenu">
        </div>
        <hr>
    </div>
    <div id="main" class="tabcontent" style="display:block">
        <div class="row">
            <div class="card">
                <p>
                <select id="selectAA">
                      <option value="0">기관</option>
                      <option value="1">외인</option>
                      <option value="2">연기금</option>
                      <option value="3">사모펀드</option>
                      <option value="4">투신</option>
                      <option value="5">금융</option>
                      <option value="6">기타법인</option>
                      <option value="7">개인</option>
                      <option value="8">보험</option>
                      <option value="9">은행</option>
                </select>
                <select id="selectAB">
                      <option value="0">기관</option>
                      <option value="1">외인</option>
                      <option value="2">연기금</option>
                      <option value="3">사모펀드</option>
                      <option value="4">투신</option>
                      <option value="5">금융</option>
                      <option value="6">기타법인</option>
                      <option value="7">개인</option>
                      <option value="8">보험</option>
                      <option value="9">은행</option>
                </select> 사용X
                </p>

                <table id="dataA" class="display" style="width:100%">
                    <tr><td class="loading"><div class="signal"></div></td></tr>
                </table>
            </div>
        </div>
    </div>
    <div id="tabConts"></div>
    <div id="realtime"></div>



    <div id="footer">
        <div id="footer_mine">
            <br><hr>
            <p>문의 : jazztronomers@gmail.com </p>
            <p>후원 : 우리은행 1002-455-318806</p>
        </div>
        <div id="footer_adsense">
            <div class="adsense">

                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 2020FOOT -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7952244387820356"
                     data-ad-slot="3694087211"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>


                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 2020TAIL -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7952244387820356"
                     data-ad-slot="7413840373"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>

        </div>
    </div>



    </div>

</body>



<!--        <div class="adsense_test">-->
<!--            <style>-->
<!--            .jazzstockmid { width: 320px; height: 100px; }-->
<!--            @media(min-width: 360px) { .jazzstockmid { width: 340px; height: 60px; } }-->
<!--            @media(min-width: 375px) { .jazzstockmid { width: 350px; height: 60px; } }-->
<!--            @media(min-width: 500px) { .jazzstockmid { width: 468px; height: 60px; } }-->
<!--            @media(min-width: 800px) { .jazzstockmid { width: 728px; height: 90px; } }-->
<!--            </style>-->
<!--            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!--            &lt;!&ndash; 2020MID &ndash;&gt;-->
<!--            <ins class="adsbygoogle jazzstockmid"-->
<!--                 style="display:inline-block"-->
<!--                 data-ad-client="ca-pub-7952244387820356"-->
<!--                 data-ad-slot="2353085386"></ins>-->
<!--            <script>-->
<!--                 (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--            </script>-->
<!--        </div>-->
