<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Jazzstock" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="수급분석, 수급차트, 창구분석, 거래원분석" />
    <meta property="og:site_name" content="Jazzstock" />
    <meta property="og:image" content="http://jazzstock.net/static/images/logo800.jpg" />
    <meta name="naver-site-verification" content="b3c1a9a88d2cb99599c37bef02c0ac29aaf2cfd0"/>
    <meta name="description" content="수급분석, 수급차트, 창구분석, 거래원분석" />
    <title>Jazzstock</title>
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132476295-1"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-132476295-1');


    function getLocalStorage(){


            var locallist =[]

            if(localStorage.getItem("jazzstock_mylist")!=null){
              locallist = localStorage.getItem("jazzstock_mylist").split(',')
            }
            else {
              locallist = ['가비아','케이아이엔엑스']
            }
            document.getElementById("codelistMine").value = locallist

    }

    </script>
  </head>

  <body>


    <form action="/sndChart" method="get" class="form" name="menu_form">
    <header>
          <div class="textSearch">
          <input type="text" placeholder="종목명 / 종목코드" name="stockcode" value="{{ request.form.stockcode }}">
          </div>
    </header>
    </form>

    <ul class="menu">
      <li><a href="/sndRankRelative">SndRank I</a></li>
      <li><a href="/sndRankIndependence">SndRank II</a></li>

      <form action="/sndRankMine" method="post" name="testform">
      <li>
          <input type="hidden" name="codeList" id="codelistMine" value="">
          <a href="#" onclick="getLocalStorage(); document.testform.submit()">SndRankMine </a>
      </li>
      </form>
      </li>
      <li><a href="/sndChart?stockcode=케이아이엔엑스">ChartSample</a></li>
      <li><a href="/recommSummary">Recomm</a></li>
      <li><a href="/info">Info</a></li>
    </ul>

    <div class="adsense">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- PC -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:1200px;height:120px"
             data-ad-client="ca-pub-7952244387820356"
             data-ad-slot="3059165922"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    <div class="adsense">
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>

