{% extends "mobileHeader.html" %}
{% block content %}
    <div class>
      <p>문의 : jazztronomers@gmail.com </p>
      <p>후원 : 우리은행 1002-455-318806</p>
    </div>





    <div>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- JAZZSTOCK_MOBILE_FOOTER -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7952244387820356"
         data-ad-slot="2677656775"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    </div>
{% endblock %}