<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">

<script type="text/javascript" src="static/js/open.js"></script>
<script type="text/javascript" src="static/js/register.js"></script>



</head>
  <body>

  <form class="form-inline">
    <div class="container">
      <h1>Register</h1>
      <p>
        비밀번호는 화면단에서 암호화되어 서버로 전송됩니다, 안심하셔도 좋습니다.
      </p>
      <hr>


      <label for="curr_pw"><b>Current Password</b></label>
        <input type="password" placeholder="기존비밀번호 입력" name="curr_pw" id="curr_pw">
        <input type="button" id="button_check_current_pw" style="display:inline" onclick='checkCurrentPassword();' value="확인">
        <br>

      <label for="username"><b>Username</b></label>
        <input type="text" placeholder="닉네임 입력" name="username" id="username" disabled>
        <input type="button" id="button_check_username_dup" style="display:inline" onclick='checkDupUsername();' value="중복체크" disabled>
        <br>

      <label for="pw"><b>Password</b></label>
        <input type="password" placeholder="수정할 비밀번호 입력" name="pw" id="pw" disabled>
        <br>

      <label for="pw_confirmation"><b>Repeat Password</b></label>
        <input type="password" placeholder="수정할 비밀번호 확인" name="pw_confirmation" id="pw_confirmation" onkeyup='checkPasswordMatches()' disabled>
        <span id='confirmation_password_same'></span><br>
      <hr>
      <input type="button" id="button_edit" style="display:inline" onclick='doEdit();' value="프로필수정" disabled>
    </div>

  </form>

  </body>
</html>
