{% extends "layout.html" %}

{% block content %}

<link href="static/css/nouislider.css" rel="stylesheet">
<script src="static/js/nouislider.js"></script>
<script src="static/js/sorttable.js"></script>

<script>

function checkCheckbox(frm,obj,num) {
  var str = obj.name;
  var len = frm.length;

  var chk = 0;
  for(i=0; i<len; i++) {
    if (frm[i].name == str && frm[i].checked == true) {
      chk++;
    }

    if (chk > num) {
      alert("You can only select a maximum of "+num+" checkboxes");
      obj.checked = false;
      break;
    }
  }
}


function setStorage(){


    var temptemp = 'temp'

}

function onload(){



    if(localStorage.getItem("jazzstock_mylist")!=null){
        var q_stock = localStorage.getItem("jazzstock_mylist").split(',')
    }

    else {
        q_stock = []
    }




    document.getElementById("localstorageinput").value=q_stock


    if(localStorage.getItem("checked_window")!=null){
    var q_window = localStorage.getItem("checked_window").split(',')
    }
    else q_window = ['S','Y']

    if(localStorage.getItem("checked_interval")!=null){
    var q_interval = localStorage.getItem("checked_interval").split(',')
    }
    else q_interval = ['1','5','20']

    var window = document.getElementsByName("window");
    for (var i = 0; i < window.length; i++)
    {


        if(window[i].type =='checkbox' && q_window.includes(window[i].value)){
            window[i].checked=true
        }
    }

    var interval = document.getElementsByName("interval");
    for (var i = 0; i < interval.length; i++)
    {

        if(interval[i].type =='checkbox' && q_interval.includes(interval[i].value)){
            interval[i].checked=true
        }
    }


}

function setLocalList(){



    var q_stock = []
    inputlist = document.getElementById("localstorageinput").value.split(',')

    console.log("before",q_stock)

    for (i = 0; i < inputlist.length; i++) {

        if(!q_stock.includes(inputlist[i])){
            q_stock.push(inputlist[i])
            while(q_stock.length > 50){
                q_stock.shift()
            }
        }
    }


    console.log("after",q_stock)
    localStorage.setItem("jazzstock_mylist",q_stock);


}

function getLocalStorageOnPage(){


        var locallist =[]

        if(localStorage.getItem("jazzstock_mylist")!=null){
          locallist = localStorage.getItem("jazzstock_mylist").split(',')
        }
        else {
          locallist = ['가비아','케이아이엔엑스']
        }
        document.getElementById("codelistMineOnPage").value = locallist
}

</script>




<body onload="onload()">

  <h5>
  * 브라우저 내장 STORAGE 기반으로 작동합니다.<br>
  * UPDATE MY LIST 다음에 텍스트입력창에 본인의 종목을 입력하고, [설정] 버튼을 누른후, 상단메뉴 또는 아래 하이퍼링크를 클릭하면 테이블이 새롭게 생성됩니다 <br>
  * 종목리스트는 " / " 를 구분자로 입력하시면 됩니다  <br>
  * <span style="color:red">EXAMPLE</span> : <u>가비아/케이아이엔엑스/인크로스/덴티움</u> <br>

  </h5>

<form action="/sndRankMine" method="post" name="testformtest">

    <div class="selection">
        <div class="row">
            <div class="col-25">
                WINDOW :
            </div>
            <div class="col-75">
                <input type="checkbox" name="window" value="S" autocomplete="off" onClick="checkCheckbox(this.form,this,2)"> 사모
                <input type="checkbox" name="window" value="YG" autocomplete="off" onClick="checkCheckbox(this.form,this,2)"> 연기금
                <input type="checkbox" name="window" value="T"  autocomplete="off"  onClick="checkCheckbox(this.form,this,2)"> 투신
                <input type="checkbox" name="window" value="FN" autocomplete="off" onClick="checkCheckbox(this.form,this,2)"> 금융
                 <input type="checkbox" name="window" value="IS" autocomplete="off" onClick="checkCheckbox(this.form,this,2)"> 보험
                 <input type="checkbox" name="window" value="NT" autocomplete="off" onClick="checkCheckbox(this.form,this,2)"> 국가
                 <input type="checkbox" name="window" value="BK" autocomplete="off" onClick="checkCheckbox(this.form,this,2)"> 은행
                 <input type="checkbox" name="window" value="OC" autocomplete="off" onClick="checkCheckbox(this.form,this,2)"> 기타법인
                 <input type="checkbox" name="window" value="PS" autocomplete="off" onClick="checkCheckbox(this.form,this,2)"> 개인
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                INTERVAL :
            </div>
            <div class="col-75">
                <input type="checkbox" name="interval" value="1" autocomplete="off"  onClick="checkCheckbox(this.form,this,3)"> 1
                <input type="checkbox" name="interval" value="3"  autocomplete="off" onClick="checkCheckbox(this.form,this,3)"> 3
                <input type="checkbox" name="interval" value="5" autocomplete="off" onClick="checkCheckbox(this.form,this,3)"> 5
                <input type="checkbox" name="interval" value="20" autocomplete="off" onClick="checkCheckbox(this.form,this,3)"> 20
                <input type="checkbox" name="interval" value="60" autocomplete="off" onClick="checkCheckbox(this.form,this,3)"> 60<br>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                UPDATE MY LIST :
            </div>
            <div class="col-75">
                <input type="text" rows="5" class='localstoragelist' id='localstorageinput' value="">
                <input type="button" value="설정&새로고침" onclick="setLocalList(); getLocalStorageOnPage(); document.testformtest.submit()">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                DATE (NOT YET) :
            </div>
            <div class="col-75">
                <input type="date" name='date' min="2019-01-01" value="{{date}}">
                <input type="hidden" name="codeList" id="codelistMineOnPage" value="">
                <input type="button" value="검색" onclick="setLocalList(); getLocalStorageOnPage(); document.testformtest.submit()">
            </div>
        </div>



    </div>
</form>

    <table id="sndrank" class="sortable">
        <tr>

            {% for eachcol in column %}
                {% if eachcol !='DATE' and eachcol !='MARKET'  %}
                    <th>{{eachcol}}</th>
                {% endif %}
            {% endfor %}
        </tr>

        {% for value in sampledata.result %}


        <tr>
            {% for eachcol in column %}
                {% if eachcol =='STOCKNAME'  %}
                    <td class="firstcol">
                            <a href="{{ '/sndChart?stockcode='+ value['STOCKNAME']}}" >
                                {{ value[eachcol] }}{{value['MARKET']}}
                            </a>
                    </td>
                {% elif eachcol=='MARKET' %}


                {% elif eachcol=='MC' or eachcol =='CATEGORY' %}
                    <td nowrap>{{value[eachcol]}}</td>

                {% elif eachcol=='CLOSE' %}
                    <td class="money">{{ "{:,}".format(value[eachcol]) }}</td>

                {% elif eachcol[-1]=='R' %}
                    <td class="ranking">{{ value[eachcol] }}</td>


                {% elif eachcol!='DATE' %}


                    {% if value[eachcol] != None and value[eachcol]>=0.25 %}
                    <td class="profita" style="background-color: #f72525;">
                    {% elif value[eachcol] != None and value[eachcol]>=0.15 %}
                    <td class="profitb" style="background-color: #ff6247;">
                    {% elif value[eachcol] != None and value[eachcol]>=0.1 %}
                    <td class="profitc" style="background-color: #ff8d7a;">
                    {% elif value[eachcol] != None and value[eachcol]>=0.05 %}
                    <td class="profitd" style="background-color: #ffab9e">

                    {% elif value[eachcol] != None and value[eachcol]>=0.03 %}
                    <td class="profite" style="background-color: #ffe2dd;">
                    {% elif value[eachcol] != None and value[eachcol]>=0.02 %}
                    <td class="profite" style="background-color: #ffefed;">
                    {% elif value[eachcol] != None and value[eachcol]>=0.01 %}
                    <td class="profite" style="background-color: #fff5f4;">

                    {% elif value[eachcol] != None and value[eachcol]>=-0.01 %}
                    <td class="profite" style="background-color: #ffffff;">

                    {% elif value[eachcol] != None and value[eachcol]>=-0.02 %}
                    <td class="profite" style="background-color: #e5f0ff;">
                    {% elif value[eachcol] != None and value[eachcol]>=-0.03 %}
                    <td class="profite" style="background-color: #c2dafc;">
                    {% elif value[eachcol] != None and value[eachcol]>=-0.05 %}
                    <td class="profite" style="background-color: #a0c7ff;">

                    {% elif value[eachcol] != None and value[eachcol]>=-0.1 %}
                    <td class="profite" style="background-color: #75aeff;">
                    {% elif value[eachcol] != None and value[eachcol]>=-0.15 %}
                    <td class="profite" style="background-color: #5199ff;">
                    {% elif value[eachcol] != None and value[eachcol]>=-0.25 %}
                    <td class="profite" style="background-color: #247bf7;">
                    {% elif value[eachcol] != None and value[eachcol]<-0.25 %}
                    <td class="profite" style="background-color: #104693;">
                    {% else %}
                    <td class="profite" style="background-color: #ffffff;">



                    {% endif %}
                    {{ "%.2f"|format(value[eachcol]*100) if value[eachcol] != None else '-'}}</td>


                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}



    </table>
</div>
</body>


{% endblock %}